<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  var apiKey = '<%= process.env.API_KEY %>';
  </script>

  <script src="/js/main.js"></script>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
   <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>API Button</h1
      <div class="targeting-wrapper"></div>
      <input class="search" id="searchbox" type="text" placeholder="marketing e.g." />
      <button type="button" id="btnclick" onclick="searchTargeting()">
        Search
      </button>
    <p class="name1"></p><p class="audience_size1"></p>
    <p class="name2"></p><p class="audience_size2"></p>
    <p class="name3"></p><p class="audience_size3"></p>
    <p class="name4"></p><p class="audience_size4"></p>
    <p class="name5"></p><p class="audience_size5"></p>
    <p class="name6"></p><p class="audience_size6"></p>
    <p class="name7"></p><p class="audience_size7"></p>
    <p class="name8"></p><p class="audience_size8"></p>
    </div>
    <div class="error-message"></div>


  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
