<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
   <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>API Button</h1>
      <div class="city"></div>
      <div class="temp"></div>
      <div class="photo"></div>
      
    </div>


  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
