<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Blog Posts</h1>
      <p>things you do in school count too</p>
    </div>

  
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
