<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Blog Posts</h1>
      <p>I should probably write one of those someday...</p>
    </div>


  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
