<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Lars Osterberg</h1>
      <p>Product | HubSpot</p>
    </div>
    <div class="content">
      <p>
        Hi, I'm a product manager working on the Ads Add-on product at HubSpot.
      </p>
        <br>
        <img class="company-logo" src="images/hubspot.png">
         HubSpot is a marketing software company (think- everything you need to get the word out about your product via the internet) and I love it! I'm open to chatting about job opportunities (in our very own beer garden) if you'd like to love your job too.
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
